.mainDiv {
  width: 100%;
  background: 
  /* linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 74%,
    rgba(253, 107, 107, 1) 85%,
    rgba(252, 33, 33, 1) 95%,
    rgba(255, 255, 255, 1) 100%
  ); */
  linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 67%,
    rgba(253, 107, 107, 1) 69%,
    rgba(252, 33, 33, 1) 79%,
    rgba(255, 255, 255, 1) 93%
  )
}

/* New */
.firstBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 79px;
  border-top: 1px solid black;
  /* border-bottom: 1px solid black; */
  margin: 0 15px 0 15px;
}

.firstBlockLeft {
  height: 87vh;
  display: grid;
  grid-template-rows: 10% 65% 25%;
}

.firstBlockLeft div:first-child {
  font-family: "SuisseIntl-Regular";
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #000000;
  padding-top: 20px;
}

.firstBlockLeft div p {
  font-size: calc(20px + 1vw);
}

.firstBlockLeft div:nth-child(2) {
  display: flex;
  align-items: flex-end;
  margin-bottom: 54px;
}

.firstBlockLeft div:nth-child(2) p {
  font-family: "SuisseIntl-Regular";
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #000000;
}

.firstBlockLeft div:nth-child(3) {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.firstBlockLeft div:nth-child(3) p {
  font-family: "SuisseIntl-Regular";
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #000000;
}

.firstBlockLeft div:nth-child(4) {

  position: relative;
  top: 5vh;
  
}

.firstBlockRight {
  height: 87vh;
  display: flex;
  align-items: flex-end;
  column-gap: 40px;
}

.firstBlockRight div:first-child {
  font-family: "SuisseIntl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
  /* padding-bottom: 20px; */
}

.mainAbstrcImg {
  background-image: url("../public/About/main2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  aspect-ratio: 4 / 5;
}

.mainAbstrcOverlapImg{
  background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
    width: 50vw;
    aspect-ratio: 4 / 5;
    position: fixed;
  }

.mainAbstrcImgMobile {
  display: none !important;
  background-image: url("../public/About/main2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  aspect-ratio: 4 / 5;
}

.mainAbstrcImgNOTForMobile {
  display: inline !important;
}

/* .firstBlockRight div:nth-child(2) img {
  height: 100% !important;
  width: 33% !important;
  position: fixed;
  top: 30px;
  right: 30px;
} */

.secondBlock {
  /* height: 423px; */
  height: 600px;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  /* grid-template-rows: 0.7fr 1.3fr; */
  grid-template-rows: 0.3fr 1.7fr;
  column-gap: 79px;
  row-gap: 40px;
  margin: 0 15px 0 15px;
  z-index: 5;
  position: sticky;
}

.secondBlockLeft,
.secondBlockRight {
  grid-area: 2;
  font-family: "SuisseIntl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: calc(17px + 1vw);
  line-height: 100%;
  color: #000000;
}

.secondBlockLeftTitle, .secondBlockRightTitle {
  font-family: "SuisseIntl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-decoration-line: underline;
  color: #000000;
  display: flex;
  align-items: flex-end;
}

.secondBlockRightList {
  list-style-type: none;
}

.thirdBlock {
  height: 415px;
  border-bottom: 1px solid black;
  display: grid;
  /* grid-template-rows: 0.7fr 1.3fr; */
  grid-template-rows: 0.3fr 1.7fr;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 79px;
  row-gap: 40px;
  margin: 0 15px 0 15px;
  z-index: 5;
  position: sticky;
}

.thirdBlock ~ .thirdBlock ~ .thirdBlock {
  height: 250px;
  border-bottom: 0;
}

.thirdBlockTitle {
  display: flex;
  align-items: flex-end;
  font-family: "SuisseIntl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-decoration-line: underline;
  color: #000000;
}

.thirdBlockText {
  grid-area: 2;
  font-family: "SuisseIntl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
}

.thirdBlockText ul {
  list-style-type: none;
}

.linksText {
  font-family: "SuisseIntl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: calc(50px - 1vw);
  line-height: 100%;
  text-decoration-line: underline;

  color: #000000;
}

/* Old */

.block {
  display: flex;
  border-top: 1px solid black;
  padding: 15px;
  margin: 40px 15px 15px 15px;
}

.block:last-child .subBlock:first-child {
  font-size: 35px;
  line-height: 40px;
}

.block:last-child .subBlock:nth-child(2) {
  height: 50px;
  padding-bottom: 0;
}

.subBlock {
  width: 50%;
}

.subBlock:first-child {
  font-family: "SuisseIntl-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 69px;
  line-height: 84px;
  display: flex;
  align-items: flex-start;
  color: #1a1a1a;
  border-right: 1px solid black;
}

.subBlock:nth-child(2) {
  font-family: "SuisseIntl-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 36px;
  display: flex;
  align-items: flex-start;
  letter-spacing: 0.3px;
  color: #1a1a1a;
  padding-left: 40px;
  padding-bottom: 40px;
}

.serviceList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0px;
  height: 3rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  margin: 15px;
}

.footer span {
  font-family: "SuisseIntl-Regular";
  text-transform: uppercase;
  font-style: normal;
  font-weight: xx-large;
  font-size: 26px;
  line-height: 26px;
  color: #000000;
  cursor: pointer;
}

.footer span:hover {
  color: #0029ff;
}

.footer.down {
  bottom: -3rem;
}

.footer span:first-child {
  padding-left: 10px;
}

.footer span:nth-child(2) {
  padding-right: 10px;
}

.marquee{
  bottom: 0 !important;
}

@media only screen and (max-width: 1500px) {
  .mainAbstrcOverlapImg {
    width: 58vw;
  }
}

@media only screen and (max-width: 1350px) {
  .mainAbstrcOverlapImg {
    width: 66vw;
  }
}

@media only screen and (max-width: 1200px) {
  .mainAbstrcImg {
    height: 75vh;
    width: 62vw;
    background-size: contain;
  }

  .mainAbstrcOverlapImg {
    width: 65vw;
    height: 70%;
  }
}

@media only screen and (max-width: 1024px) {
  .mainAbstrcImg {
    height: 75vh;
    width: 62vw;
    background-size: contain;
  }
  
  .mainAbstrcOverlapImg {
    width: 66vw;
    height: 63%;
  }

  .thirdBlockText {
    font-size: calc(8px + 1vw);
  }
}


@media (min-width: 768px) and (max-width: 850px) {
  .mainAbstrcOverlapImg {
    width: 100vw;
    height: 60%;
  }
}



@media only screen and (max-width: 768px) {
  .mainDiv{
    background: linear-gradient( 0deg, rgba(255, 255, 255, 1) 52%, rgba(252, 33, 33, 1) 69%, rgba(253, 107, 107, 1) 90%, rgb(241, 135, 135) 90%, rgba(255, 255, 255, 1) 97%, rgba(255, 255, 255, 1) 100% );
  }

  .mainAbstrcImg {
    height: 60vh;
    width: 90vw;
    background-size: contain;
  }

  .mainAbstrcOverlapImg {
    width: 80vw;
    height: 60%;
  }

  .firstBlock {
    grid-template-columns: none;
  }

  .firstBlockLeft {
    grid-row: 2;
    position: relative;
    height: 103vh;
  }

  .firstBlockRight {
    position: absolute;
    top: 0;
    right: 0;
    height: 72vh;
  }

  .firstBlockRight div:first-child {
    font-family: "SuisseIntl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
  }

  .secondBlock, .thirdBlock {
    /* grid-template-rows: 0.7fr 1.3fr; */
    height: 500px;
  }
}

@media only screen and (max-width: 600px) {

  /* .firstBlock {
    grid-template-columns: none;
  }

  .firstBlockLeft {
    grid-row: 2;
    position: relative;
    height: 103vh;
  }

  .firstBlockRight {
    position: absolute;
    top: 0;
    right: 0;
    height: 70vh;
  }

  .firstBlockRight div:first-child {
    font-family: "SuisseIntl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
  } */

  .mainDiv{
    width: 101vw;
  }

  .mainAbstrcImg {
    height: 58vh;
    width: 98vw;
    background-size: contain;
  }

  .mainAbstrcOverlapImg {
    width: 96vw;
    height: 57%;
  }

  .firstBlockLeft div:nth-child(3) {
    /* margin: 0px 25px 0px 0px; */
    margin: 0px 25px -35px 0px;
  }

  .firstBlockLeft div p {
    font-size: calc(16px + 1vw);
  }

  .worksDetailsText {
    height: 310px;
  }

  .thirdBlockText {
    font-size: calc(7px + 1vw);
  }

  .secondBlockLeft,
  .secondBlockRight {
    font-size: calc(11px + 1vw);
  }

  .secondBlock {
    height: 380px;
    /* margin: 0px 50px 25px 10px; */
    margin: 0px 0 25px 10px;
    /* padding: 10px; */
    padding: 10px 10px 200px 10px;
    display: flex;
    flex-direction: column;
  }

  .linksText {
    font-size: calc(25px - 1vw);
  }


  .mainAbstrcImgForMobile {
    display: inline !important;
    background-position: center;
    background-size: contain;
  }

  .thirdBlock {
    column-gap: 15px;
    display: flex;
    flex-direction: column;
    height: auto;
    /* margin: 25px 50px 25px 10px; */
    margin: 25px 0px 25px 10px;
    padding: 10px;
    row-gap: 15px;
  }

  .thirdBlock ~ .thirdBlock ~ .thirdBlock {
    height: auto;
  }
}

@media only screen and (max-width: 500px) {
  .firstBlockLeft {
    grid-row: 2;
    position: relative;
    height: 100vh;
  }

  .mainAbstrcImg {
    height: 56vh;
    width: 100vw;
  }

  .mainAbstrcOverlapImg {
    width: 100vw;
    height: 45%;
  }
}