.navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 79px;
  position: sticky;
  top: 0px;
  height: 3rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  z-index: 1;
  padding: 15px;
}

.navbar.down {
  top: -4rem;
}

.navbar span {
  font-family: "SuisseIntl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  color: #000000;
  /* padding-top: 15px; */
  padding: 15px 15px 0 15px;
  cursor: pointer;
  text-align: right;
}


.navbar span:hover {
  color: var(--globalRed);
}

.navbar span:nth-child(2) {
  padding-right: 10px;
  color: var(--globalRed);
}

.navbar a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.navLeftBlock {
  display: flex;
  justify-content: space-between;
}

.navRightBlock {
  display: flex;
  justify-content: space-between;
}

.rl_logo {
  background-image: url("../public/RL_Logotype.png");
  height: 40px;
  width: 40px;
  display: block;
  background-repeat: no-repeat;
}

.navMobileLeftBlock,
.navMobileRightBlock {
  display: none;
}

.navMobileMenu {
  width: 100%;
  background-color: var(--globalRed);
  /* height: 285px; */
  position: fixed;
  top: 0px;
  /* padding: 15px 0; */
  right: 0;
  z-index: 2;
}

.navMobileMenu ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  /* row-gap: 50px; */
  margin-top: 75px;
  /* padding: 15px; */
}

.navMobileLinks {
  border-top: 1px solid black;
  /* border-bottom: 1px solid black; */
  width: 100%;
  padding: 15px 0 15px 0;
}

.navMobileLinks:nth-child(3) {
  /* border-top: 1px solid black; */
  border-bottom: 1px solid black;
  width: 100%;
  padding: 15px 0 15px 0;
}

@media (width < 600px) {
  .navbar {
    grid-template-columns: 0.5fr 2fr 0.5fr;
    column-gap: 10px;
    align-items: center;
    justify-items: center;
    padding: 10px 5px 15px 5px;
  }

  .navbar span:hover {
    color: black;
  }
  
  .navLeftBlock, .navRightBlock{
    display: none;
  }

  .navMobileLeftBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 3;
  }

  .navMobileRightBlock {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
  }

  .rl_logo {
    width: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .navbar span:nth-child(2) {
    padding-right: 0px;
    color: var(--globalRed);
  }
}